{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}?v=2">

<h1>Опросы</h1>
<p>Добро пожаловать на главную страницу опросов.</p>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
       <li>
                <a href="{% url 'polls:detail' question.id %}">
                    <strong>{{ question.question_text }}</strong>
                </a>
                <div class="question-info">
                    <span class="date">Опубликован: {{ question.pub_date|date:"d.m.Y H:i" }}</span>
                    <span class="votes">Всего голосов: {{ question.total_votes }}</span>
                </div>
            </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}